.admin-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.admin-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-user-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.add-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-button {
  flex: 1;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button,
.export-button {
  flex: 1;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.search-button:hover,
.export-button:hover {
  background-color: #0056b3;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-table th,
.admin-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.admin-table th {
  background-color: #f2f2f2;
}

.admin-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-table tr:hover {
  background-color: #ddd;
}

h1 {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #0056b3;
}

.active a {
  background-color: #0056b3;
}

/* Adicione essas regras de estilo ao seu arquivo CSS ou componente React */

/* Estilo para os botões "Editar" e "Apagar" */
button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para o botão "Apagar Todos" */
button.delete-all {
  background-color: #dc3545;
}

button.delete-all:hover {
  background-color: #b02a37;
}

/* Estilos responsivos para telas menores */

@media screen and (max-width: 600px) {
  .admin-actions {
    flex-direction: column;
    align-items: stretch;
  }

  .add-user-form {
    flex-direction: column;
  }

  .add-input,
  .search-input,
  .add-button,
  .search-button,
  .export-button {
    flex: 1;
    margin-bottom: 10px;
  }

  .admin-table {
    font-size: 14px;
  }
}
